<!-- <form [formGroup]="formGroup" (ngSubmit)="addPost(formGroup.value)">
    <div class="form-container">
      <div class="row columns">
        <h1>My Reactive Form</h1>
        <label>Name
          <input type="text" formControlName="name">
        </label>

        <label>Description
          <textarea  formControlName="description"></textarea>
        </label>

        <label for="validate">Minimum of 3 Characters</label>
        <input type="checkbox" name="validate" formControlName="validate" value="1"> On
        
        <input type="submit" class="button expanded" value="Submit Form" [disabled]="!formGroup.valid">
      </div>
    </div>
  </form> -->

  <div class="row row-custom">
    <div class="col-sm-5 custom-container jumbotron">
      <form action="" class="form-horizontal">
        <fieldset>
          <legend>Sign Up</legend>
          <div class="form-group">
            <label for="">Email</label>
            <input type="email" name="email" placeholder="Enter Email">
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Enter Password">
          </div>
          <div class="form-group checkbox" >
            <input type="checkbox" name="checkbox"> Terms & Condition
          </div>
          <div class="form-group" >
            <button class="btn btn-primary">Save</button>
          </div>
        </fieldset>
      </form>
    </div>
    
  </div>