<style>
    .the-legend {
        border-style: none;
        border-width: 0;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 0;
        width: inherit;
    }

    .the-fieldset {
        border: 2px groove threedface #444;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }
</style>

<div class="container">
    <h3>Parent Component</h3>
    <div class="row">
        <form class="form-horizontal">
            <fieldset class="well the-fieldset">
                <div class="form-group">
                    <label for="">Stock Name</label>
                    <input type="text" name="stockname" [(ngModel)]="model.Name">
                </div>
                <div class="form-group">
                    <label for="">Stock Qty</label>
                    <input type="text" name="stockqty" [(ngModel)]="model.Price">
                </div>
                <div class="form-group">
                    <button (click)="Save()" class="btn btn-primary">Add</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="row">
        <label for="" style="color:blue">On Changes Example</label>
        <input type="text" name="myName" [(ngModel)]="myName" />
    </div>
    <div class="row">
        <label for="" style="color:green">Observable Data Sharing</label> {{sharedNameInfo}}
    </div>
    <div class="row">
        <h3>Child Component</h3>
        <child-app [criterialist]="CriteriaList" [myname]="myName">
            <div class="col-xs-4">
                  <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Name

                            </th>
                            <th>
                                Price
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- <tr *ngFor="let criteria of criteriaListAsync |async ">   -->
                        <!-- <tr *ngFor="let criteria of citeriaTest"> -->
                        <tr *ngFor="let criteria of CriteriaList">
                            <td>
                                {{criteria.Name}}
                            </td>
                            <td>
                                {{criteria.Price}}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
              
        </child-app>
    </div>









</div>