<div class="col-xs-12">
    <h1>
        Child Component
    </h1>
    <div class="row">
        <label for="" style="color:blue">On Changes Example</label> <label for="">{{myModifiedName}}</label>
    </div>
    <div class="row">
        <label for=""> Input property Binding</label>
        <ul>
            <li *ngFor="let criteria of criterialist">
                {{criteria.Name}}
            </li>
        </ul>
    </div>
    <div class="row">
        <label for=""> Async Pipe Example</label>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name

                    </th>
                    <th>
                        Price
                    </th>
                </tr>
            </thead>
            <tbody>
                  <!-- <tr *ngFor="let criteria of criteriaListAsync |async ">   -->
                    <!-- <tr *ngFor="let criteria of citeriaTest"> -->
                        <tr *ngFor="let criteria of criterialist"> 
                    <td>
                        {{criteria.Name}}
                    </td>
                    <td>
                        {{criteria.Price}}
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
    <div class="row">
        <label for="" style="color:green">
                Observable Data Sharing without Emit 
        </label>
        <input type="text" [(ngModel)]="sharedName">
        <button class="btn btn-primary" (click)="childClick(sharedName)">Change</button>

    </div>

</div>