 <ul>
    <li *ngFor="let criteria of criterialist">
           {{criteria.Name}}
    </li>
</ul> 

 <table>
    <tr>
        <thead>
            <td>Name</td>
            <td>Price</td>
        </thead>
    </tr>
    <tr>
        <tbody *ngFor="let criteria of criteriaListAsync |async ">
            <td>
                    {{criteria.Name}}
            </td>
                <td>
                    {{criteria.Price}}
            </td>
        </tbody>
    </tr>
</table> 



<label for="">{{myModifiedName}}</label>

<input type="text" [(ngModel)]="sharedName">

<div>
<button class="btn btn-primary" (click)="childClick(sharedName)">Observable Data Sharing</button>
</div>